.Dialogs {
	font-family: Lucida Grande;
	font-size: 13px;
}

.ParamsList {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Small_Buttons {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Small_Text {
	font-family: Lucida Grande;
	font-size: 11px;
}

