.Dialogs {
	font-family: Segoe UI;
	font-size: 12px;
}

.ParamsList {
	font-family: Segoe UI;
	font-size: 12px;
}

.Small_Buttons {
	font-family: Segoe UI;
	font-size: 12px;
}

.Small_Text {
	font-family: Segoe UI;
	font-size: 12px;
}

